﻿<div class="welcome-page">
    <div class="row page-header">
        <div class="col-sm-10">
            <h1>
                TogetherByTaxi Identity Server
            </h1>
        </div>
    </div>
</div>
